@import './base/variables';

/*Header*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.inactive {
    display: none;
}

@import './components/header.scss';
@import './components/mobile-menu';
@import './components/main';
@import './components/about_us.scss';
@import './components/registro';
@import './components/productos';
@import './components/preguntas';
@import './components/footer';