@import '../base/variables';

footer {
    display: flex;
    justify-content: space-between;
    height: 35vh;
    background-color: $black;

    /*Responsive movil*/
    @media (max-width: 400px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 6vh;
        height: 70vh;
        margin-top: 0;
    }

    /*Responsive pantalla mediana*/
    @media screen and (max-width: 850px) and (min-width: 401px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
        height: 60vh;
    }

    .contacto {
        display: block;
        margin-top: 5vh;

        /*Responsive movil*/
        @media (max-width: 400px) {
            margin-bottom: 30px;
            padding-top: 50px;
        }

        /*Responsive pantalla mediana*/
        @media screen and (max-width: 850px) and (min-width: 401px) {
            margin-bottom: 25px;
            padding-top: 5vh;
                    }

        div {

            p {
                padding-bottom: 10px;

            }
        }
        .telefonos {
            margin-top: 15px;

            p {
                margin-bottom: 2px;

                /*Responsive movil*/
                @media (max-width: 400px) {
                    font-size: 14px;
                }

                /*Responsive pantalla mediana*/
                @media screen and (max-width: 850px) and (min-width: 401px) {
                    font-size: 14px;
                    padding-bottom: 2px;
                }

            }
        }
    }

    .copyright {
        margin-top: 17vh;

        /*Responsive movil*/
        @media (max-width: 400px) {
            margin-bottom: 30px;
            padding-top: 25px;

        }

        /*Responsive pantalla mediana*/
        @media screen and (max-width: 850px) and (min-width: 401px) {
            padding-top: 20px;
            padding-bottom: 15px;
        }

    }

    .siguenos {
        display: block;
        margin-top: 5vh;

        /*Responsive movil*/
        @media (max-width: 400px) {
            margin-bottom: 50px;
            padding-bottom: 50px;

        }

        /*Responsive pantalla mediana*/
        @media screen and (max-width: 850px) and (min-width: 401px) {
            margin-bottom: 50px;
            padding-bottom: 50px;
        }

        div {

            p {


            }
        }

        div {

            i {
                margin-right: 4px;
                margin-left: 4px;
                cursor: pointer;
                margin-top: 35px;

                &:hover {
                    color: $orange;
                }

            }
        }
    }

    .contacto,
    .copyright,
    .siguenos p {
        /*Responsive movil*/
        @media (max-width: 400px) {
            margin-top: -20px;
        }     
        
        /*Responsive pantalla mediana*/
        @media screen and (max-width: 850px) and (min-width: 401px) {
        margin-top: -20px;
        }
    }
}

footer div {
    margin: auto;
    color: $white;
}

footer div p {
    color: $gray;
    text-decoration: none;
    margin-right: 10px;
}