@import '../base/variables';

footer {
    display: flex;
    justify-content: space-between;
    height: 30vh;
    background-color: $black;

    /*Responsive movil*/
    @media (max-width: 400px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
        height: 60vh;
        margin-top: 0;
    }

    .contacto {
        display: block;
        margin-top: 5vh;

        /*Responsive movil*/
        @media (max-width: 400px) {
            margin-bottom: 30px;
            padding-top: 50px;
        }

        div {

            p {


            }
        }
        .telefonos {
            margin-top: 15px;

            p {
                margin-bottom: 4px;

                /*Responsive movil*/
                @media (max-width: 400px) {
                    font-size: 14px;
                }

            }
        }
    }

    .copyright {
        margin-top: 17vh;

        /*Responsive movil*/
        @media (max-width: 400px) {
            margin-bottom: 30px;
            padding-top: 25px;

        }

    }

    .siguenos {
        display: block;
        margin-top: 5vh;

        /*Responsive movil*/
        @media (max-width: 400px) {
            margin-bottom: 50px;
            padding-bottom: 50px;

        }

        div {

            p {


            }
        }

        div {

            i {
                margin-right: 4px;
                margin-left: 4px;
                cursor: pointer;
                margin-top: 35px;

                &:hover {
                    color: $orange;
                }

            }
        }
    }

    .contacto,
    .copyright,
    .siguenos p {
        @media (max-width: 400px) {
            margin-top: -20px;
        }        
    }
}

footer div {
    margin: auto;
    color: $white;
}

footer div p {
    color: $gray;
    text-decoration: none;
    margin-right: 10px;
}