@import '../base/variables';

header {
    background: transparent;
    .head {
        height: 61px;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
        border-bottom: 1px solid $gray;

        .menu {
            display: none;

            /*Responsive movil*/
            @media (max-width: 400px) {
                display: flex;
                cursor: pointer;
                width: 30px;
            }
        }
            .navbar-left {
                display: flex;
                position: relative;

                a {

                    .logo_virtual_vista_orange {
                        width: 40px;
                        height: 40px;
                        border-radius: 20%;
                        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5);
                        margin: 10px;
                        cursor: pointer;
                    }
                }

            }

        
        .navbar-right {
            position: relative;
            cursor: pointer;

                    /*Responsive movil*/
                    @media (max-width: 400px) {
                        display: none;
                    }

            ul {
                margin-left: 12px;
                li {

                    a {

                        &:hover {
                            color: $orange;
                            font-weight: 500;
                        }
                    }
                }
                .navbar-shopping-cart {
                    position: relative;
                    img {

                    }
                }
            }



        }
    }
    .navbar-left ul,
    .navbar-right ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 60px;
}

.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: $gray;
    padding: 8px;
    border-radius: 8px;
    margin-right: 12px;
}
}